<%- include('includes/head'); %>
<%- include('includes/navbar') %>

<div class="container">
	<div class="row">
		<div class="col-lg-2">
			
		</div>
		<div class="col-lg-8 my-3">
			<% if(user){ %>
				<h1 class="text-center">Contato</h1>
				<p class="text-center lead">Crie ou edite seu contato abaixo:</p>
				<%- include('includes/messages') %>
				<form action="/contato" method="POST">
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					<div class="form-group">
						<label>Nome:</label>
						<input type="text" value="<%= contato.name %>" class="form-control" name="name">
					</div>
					<div class="form-group">
						<label>Sobrenome:</label>
						<input type="text" value="<%= contato.surname %>" class="form-control" name="surname">
					</div>
					<div class="form-group">
						<label>Email:</label>
						<input type="email" value="<%= contato.email %>" class="form-control" name="email">
					</div>
					<div class="form-group">
						<label>Telefone:</label>
						<input type="tel" value="<%= contato.telephone %>" class="form-control" name="telephone">
					</div>
					
					<button type="submit" class="btn btn-primary">Criar contato</button>
				</form>
			<% }else{ %>
				<h1 class="text-center">Agenda:</h1>
				<div class="alert alert-danger">
					Cadastre-se para utilizar a agenda!
				</div>
			<% } %>
		</div>
		<div class="col-lg-2">
		</div>
	</div>
</div>

<%- include('includes/footer'); %>